$content-width: 1200px;
$color1: #151a1f;
$color2: #fffbff;
$color3: #df854f;
$light: #ebedee;
$white: #fffbff;
$gray: #798081;
$dark-gray: #2c3640;
$gradient: radial-gradient(#363795 40%, #005C97 100%);
$gradient2: radial-gradient($gray 50%, $dark-gray 100%);
$gradient-reverse: linear-gradient(to right, #c9d6ff, #e2e2e2);
$font-style: 'Proxima Nova', sans-serif;
$font-color: #1e1e1e;
$link-color: $color2;
$link-hover-color: $light;
$heading-font: 'thermal-variable', sans-serif;
$heading-font-color: $dark-gray;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin grid {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	@content;
}
