
.gallery {
	position: relative;
	padding: 20px 24px 84px;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;

	h2 {
		text-align: center;
		width: 100%;
		max-width: unset;
	}

	&__items {
		@include grid;
		grid-column-gap: 10px;
		grid-row-gap: 24px;
		min-height: 600px;
		width: 100%;

		@include tablet-wide-min {
		  gap: 48px;
		}
		
	}

	&__item {
		min-height: 600px;
		grid-column: auto / span 24;
		grid-row: auto / span 1;
		background-size: cover !important;
		background-position: center top;
		background-repeat: no-repeat;
		border-radius: 16px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		transition: box-shadow .3s;

		@include tablet-min {
				grid-column: auto / span 12;
				grid-row: auto / span 1;
		}

		// &:nth-of-type(even) {

		// 	@include tablet-min {
		// 	  margin-block: 64px -64px;
		// 	}
			
		// }

		@include desktop-sm-min {
		  
			&:hover {
				box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
			}
		}
		
	}

}

.mfp-image-holder .mfp-content {
	max-width: 1600px !important;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	position: fixed !important;
	top: 40px !important;
	right: 40px !important;
	width: 40px !important;
	height: 40px !important;
	padding: 0 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	color: #000 !important;
	background: #fff !important;
	border-radius: 50% !important;
	line-height: 1.5 !important;
	font-size: 1.5em !important;
}

img.mfp-img {
	padding: 0 !important;
}

.mfp-title {
	background: $white;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 0;
	color: $dark-gray;

	ul {
		padding: 0;
	}

	li {
		list-style: none;
		padding: 10px 0;
		color: $dark-gray;
		font-weight: 600;

		span {
			padding-right: 10px;
		}

		a {
			text-transform: none;
			color: $color3;
		}
	}
}
